page-order {

    .header{
        background: linear-gradient(to right, #403a3e, #be5869);
    }
    .btn {
        display: inline-block;
        text-align: center;
        padding: 1.75em 3.5em;
        white-space: nowrap;
        border-radius: 5px;
        font-size: 0.8em;
        text-transform: uppercase;
        letter-spacing: 1.4px;
        font-weight: 700;
      }
      .btn:hover {
        box-shadow: 0 36px 28px -20px rgba(0, 0, 0, 0.2);
        background-color: #c5092a;
      }

    .card-background-page {
        background: linear-gradient(to right, #8e9eab, #eef2f3);
        border-radius: 20px;
    }      
}
